@model ModuleEmployeeMVC.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h1>Employees assigned</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                LastName
            </th>
            <th>
                SecondLastName
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                Type
            </th>
            <th>
                Ci
            </th>
            <th>
                Birthday
            </th>
            <th>
                Photo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ci)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    <img src="https://localhost:7164/StaticFiles/img/@Html.DisplayFor(modelItem => item.Photo)" height="50" width="50" />
                </td>
            </tr>
        }
    </tbody>
</table>